
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

@keyframes moveball {
    0% {
        position: relative;
        top: -45px;
        transform: rotateY('-50deg');
    }

    50% {
        position: relative;
        top: 270px;
        transform: rotateY('50deg');
    }

    100% {
        position: relative;
        top: -45px;
        transform: rotateY('250deg');
    }
}


body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    overflow: hidden;
    background-color: black;
}


body::before {
    content: '';
    background-color: aqua;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: relative;
    top: 0;
    left: 0;
    animation: moveball ease-in-out infinite 40s;
    transition: 10s;
}

body::after {
    content: '';
    background-color: red;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: relative;
    top: 250px;
    left: -10px;
    animation: moveball ease-in-out infinite 50s;
    transition: 15s;
}

.container {
  position: absolute;
  top: 5rem;
  left: 30rem;
  width: 300px;
  height: auto;
  height: auto;
  z-index: 10;
  overflow: hidden;
 

  background: rgba(255, 255, 255, 0.45);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(255, 255, 255, 0.46);
}


.container .calculator {
    position: relative;
    display: grid;
}



.container .calculator .value {
    grid-column: span 4;
    height: 100px;
    width: 300px;
    text-align: right;
    border: none;
    outline: none;
    font-size: 30px;
    color: white;
    background-color: transparent;
}

.container .calculator span {
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    color: #fff;
    user-select: none;
    transition: 0.5s;
}

.container .calculator span:hover {
    transition: 0%;
    background: gray;
    opacity: 0.2;
}


.container .calculator .space {
    grid-column: span 2;
    width: 150px;
}

.container .calculator .plus {
    grid-row: span 2;
    height: 150px;
}
